<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <div>
    <span>
      <a routerLink="/">Home</a>
    </span>
      <span *ngIf="!authService.isLoggedIn()">
      | <a routerLink="/login">LogIn</a>
    </span>
      <span *ngIf="authService.isLoggedIn()">
      | <a routerLink="/user/all">All Users</a>
    </span>
      <span *ngIf="authService.isLoggedIn()">
      | <a routerLink="/logout" (click)="authService.logout()">LogOut</a>
    </span>
    </div>

    <router-outlet></router-outlet>

</div>

